{{#each posts as |post|}}
  {{!-- <div>
    <div>
      <h2>
        <a href='/post/{{post.id}}'>{{post.title}}</a>
      </h2>
      <p>Created by {{post.user.name}} on {{post.date_created}}</p>
    </div>
    <div>
      <p>
        {{post.content}}
      </p>
    </div>
  </div> --}}
  <div class="postCard">
    <div class="postHeader">
      <h3>{{post.title}}</h3>
    </div>
    <div class="postBody">
      <p>
        {{post.post_content}}
      </p>
    </div>
    <div class="postFooter">
      <p>
      Created by {{post.user.name}} on {{post.date_created}}
      </p>
    </div>
  </div>
{{/each}}